@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Cabin&display=swap');

html {
  scroll-behavior: smooth;
}

/* General styling */
body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background-color: #1a1b26;
}

/* Scrollbar styling  */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

::-webkit-scrollbar-track {
  background: #1a1b26;
}

/* Main Content Styles */
main {
  margin: 0 auto;
  flex: 1;
  font-family: "Cabin", sans-serif;
}
.highlight {
  color: #f7768e !important;
}

/* About Section Styling */
.home {
  font-family: "Cabin", sans-serif;
  margin: 0 auto;
  max-width: 800px;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  border-radius: 8px;
  color: white;
}

/* About Section Heading */
.home h2 {
  color: #9aa5ce;
  font-size: 36px;
}

/* About Section Paragraph */
.home p {
  margin: 0 auto;
  color: lightgrey;
  font-size: 21px;
  max-width: 600px;
}

.hello {
  font-size: 80px !important;
  color: #9aa5ce;
  text-align: center;
}

/* Home Image Styling */
.image-container {
  margin: 0 auto;
  width: 275px;
  height: 275px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.image-container:hover {
  transform: scale(1.4);
}

.home-image {
  width: 275px;
  height: 275px;
  object-fit: cover;
  border-radius: 8px;
  margin-top: 0px;
  display: block;
  margin: 0 auto;
  transition: transform 0.3s ease;
  display: block;
  pointer-events: none;
}

.default {
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
  color: lightgrey;
}

.default h2{
  font-size: 50px;
}

/* Projects Section Background*/
.projects {
  margin: 0 auto;
  width: 500px;
  height: 300px;
  background-color: #8d93a7;
  border-radius: 20px;
}

/* Experience List */
.exp {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

.exp li {
  margin-bottom: 20px;
}


/* Footer styling */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  padding: 1em 0;
  color: white;
}

footer p {
  font-family: "Cabin", sans-serif;
  font-size: 12px;
  color: grey;
  margin: 0;
  padding: 5px;
}